
# PYTHON VERSION Python 3.9 / 3.10 (DO NOT USE 3.11+)

numpy>=1.21.2,<2.3
scipy>=1.11.4,<1.16

opencv-contrib-python==4.6.0.66
Pillow>=10.1,<13.0
pdf2image==1.17.0
imageio>=2.33
tifffile>=2022.8.12
scikit-image==0.25.2
lazy-loader>=0.4
networkx>=3.0
packaging>=21

paddlepaddle==2.6.2
paddleocr==2.7.0.3

# PaddleOCR required deps (manual, stable)
attrdict
beautifulsoup4
cython
fire>=0.3.0
imgaug
lmdb
lxml
openpyxl
pdf2docx
premailer
PyMuPDF<1.21.0
python-docx
visualdl

rapidfuzz>=3.0,<4.0

torch>=2.0,<2.3
torchvision>=0.15,<0.18
transformers>=4.36,<4.43
sentencepiece
huggingface-hub>=0.19
tqdm
fastapi
uvicorn[standard]
gunicorn
filetype==1.2.0
cryptography==46.0.5
python-multipart==0.0.22
setuptools==82.0.0